.container {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

ul {
    padding-inline-start: 0 !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.li {
    margin-bottom: 10em;
}

h1 {
    font-size: 100px;
    line-height: 0.9em;
    font-family: 'Bowlby One SC', cursive;
}

body {
    font-family: 'Delius', cursive;
}